<head>
    <link rel="stylesheet" href="static/main/main.css">
    <script src="https://unpkg.com/htmx.org@1.9.12"></script>
</head>
{% if success %}
<div hx-post="/emailsignup" hx-swap="outerHTML" class="fixed inset-0 bg-black bg-opacity-50"></div>
    <div class="fixed inset-0 flex items-center justify-center">
        <div class="bg-white p-6 rounded-lg shadow-lg z-50 max-w-sm mx-auto">
            <div class="text-3xl text-gray-400 dark:text-gray-700">You're signed up!</div>
        </div>
    </div>
</div>
{% else %}
<div hx-post="/emailsignup" hx-swap="outerHTML" class="fixed inset-0 bg-black bg-opacity-50"></div>
<div class="fixed inset-0 flex items-center justify-center">
    <div class="bg-white p-6 rounded-lg shadow-lg z-50 max-w-sm mx-auto">
        <form class="max-w-sm mx-auto" action="/emailsignup" method="post">
            <div class="text-3xl text-gray-300 dark:text-gray-700">Please try again.</div>
            <div class="mb-5">
                <label for="email" class="block mb-2 text-sm font-medium text-red-900 dark:text-white">Your email</label>
                <input type="email" id="email" class="bg-red-50 border border-red-300 text-red-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-red-700 dark:border-red-600 dark:placeholder-red-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="name@flowbite.com" required />
            </div>
            <div class="flex items-start mb-5">
                <div class="flex items-center h-5">
                    <input id="consent" type="checkbox" value="" class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-blue-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800" required />
                </div>
                <label for="consent" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">I want to receive marketing emails from TerminusGPS</label>
            </div>
            <button type="signup" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Sign Up</button>
            <button type="cancel" class="text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800">Cancel</button>
        </form>
    </div>
</div>
{% endif %}
