<label for="{{ id }}" class="col-form-label">{{ field.display_as }}{% if field.required %}<span style="color: red; font-weight: bold;"><i> *Required</i></span>{% endif %}</label>
<input
    class="form-control needs-validation {% if field.is_valid %}is-valid{% else %}is-invalid{% endif %}"
    hx-trigger="keyup changed delay:500ms"
    type="{{ field.type }}"
    name="{{ field.id }}"
    id="{{ field.id }}"
    placeholder="{{ field.placeholder }}"
    hx-post="{{ field.validation_endpoint }}"
    value="{{ field.user_input }}"
    {% if field.on_input %}
    oninput="{{ field.on_input }}"
    {% endif %}
    {% if field.required %}
    required
    {% endif %}
>
{% if field.validation_msg %}
    {% if field.is_valid %}
        <div class="valid-tooltip">{{ field.validation_msg }}</div>
    {% else %}
        <div class="invalid-tooltip">{{ field.validation_msg }}</div>
    {% endif %}
{% endif %}
