<div hx-swap="innerHTML" hx-target="this">
    {% for key, value in data.items() %}
    <div class="col-md">
    <label for="{{ key }}" class="form-label">{{ key }}</label>
        <input type="text"
            {% if value["valid"] == None %}
                class="form-control needs-validation"
            {% else %}
                class="form-control needs-validation {{ 'is-valid' if value['valid'] else 'is-invalid' }}"
            {% endif %}
            name="{{ key }}"
            id="{{ key }}"
            hx-trigger="keyup changed delay:500ms"
            {% if key == 'firstName' %}
                placeholder="First"
                hx-post="/v/first-name"
                oninput="updateAssetName()"
                required
            >
            {% elif key == 'lastName' %}
                placeholder="Last"
                hx-post="/v/last-name"
                required
            >
            {% elif key == 'email' %}
                placeholder="Email"
                hx-post="/v/email"
                required
            >
            {% elif key == 'assetName' %}
                placeholder="Email"
                hx-post="/v/asset-name"
                oninput="disableAutoUpdate(event)"
                required
            >
            {% elif key == 'phoneNumber' %}
                placeholder="Phone #"
                hx-post="/v/phone-number"
            >
            {% elif key == 'imei' %}
                placeholder="IMEI #"
                hx-post="/v/imei"
                required
            >
            {% elif key == 'vin' %}
                placeholder="VIN #"
                hx-post="/v/vin"
            >
            {% elif key == 'testValue' %}
                placeholder="testValue"
                hx-post="/v/test-value"
            >
            {% endif %}
    </div>
    <div class="invalid-feedback">Invalid {{ key }}.</div>
    <div class="valid-feedback">Looks good!</div>
    {% endfor %}
</div>
