body {
  background-color: #700000;
}
.btn-primary {
  background-color: #722222;
  border-color: #ffffff;
}
.btn-primary:hover {
  background-color: #700000;
  border-color: #ffffff;
}
.btn-primary:active {
  background-color: #700000;
  border-color: #ffffff;
}

.col {
  position: relative;
}

.tooltip { opacity: 45%; }
.container {
  background-color: #3A3531;
}
