label {
  padding-top: 1em;
  padding-bottom: .5em;
  color: #ffffff;
}
body {
  background-color: #700000;
}
.container { background-color: #ffffff; }
.btn-primary {
  background-color: #722222;
  border-color: #ffffff;
}
.btn-primary:hover {
  background-color: #700000;
  border-color: #ffffff;
}
.btn-primary:active {
  background-color: #700000;
  border-color: #ffffff;
}
.d-grid {
  background-color: #000000;
  padding: 1em;
  border-radius: 6px;
}
.col-md {
  padding-left: 1em;
  padding-right: 1em;
}
.custom { positon: relative; }
