<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% if title %}
            <title>{{ title.title() }} - TerminusGPS</title>
        {% else %}
            <title>TerminusGPS</title>
        {% endif %}
        <link rel="stylesheet" href="{{ url_for('static', filename='main/main.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    </head>
    <body>
        <main>
            {% block content %}
            {% endblock %}
        </main>
        <script src="https://unpkg.com/htmx.org@1.9.10"></script>
        <script src="{{ url_for('static', filename='main/main.js') }}"></script>
    </body>
</html>
