{% extends 'index.html' %}
{% block content %}
<div class="d-grid">
    <form action="/register" method="post" class="row g-3 needs-validation" novalidate>
        <div class="col-md-4">
            <label for="firstName" class="form-label">First Name</label>
            <input type="text" class="form-control" name="firstName" id="firstName" placeholder="First" required>
            <div class="valid-feedback">
                Looks good!
            </div>
            <div class="invalid-feedback">
                Please enter your first name.
            </div>
        </div>
        <div class="col-md-4">
            <label for="lastName" class="form-label">Last Name</label>
            <input type="text" class="form-control" name="lastName" id="lastName" placeholder="Last" required>
            <div class="valid-feedback">
                Looks good!
            </div>
            <div class="invalid-feedback">
                Please enter your last name.
            </div>
        </div>
        <div class="col-md-4">
            <label for="email" class="form-label">Email Address</label>
            <input type="email" class="form-control" name="email" id="email" placeholder="Email" required>
            <div class="valid-feedback">
                Looks good!
            </div>
            <div class="invalid-feedback">
                Please enter a valid email address.
            </div>
        </div>
        <div class="col-md-4">
            <label for="num" class="form-label">IMEI number</label>
            <input type="text" class="form-control" name="num" id="num" placeholder="IMEI #" required>
            <div class="valid-feedback">
                Looks good!
            </div>
            <div class="invalid-feedback">
                Please enter a valid IMEI number.
            </div>
        </div>
        <div class="col-md-4">
            <button type="submit" class="btn btn-primary">Register</button>
        </div>
    </form>
</div>
{% endblock %}
