{% extends 'index.html' %}
{% block content %}
    <div class="d-grid m-5">
        <form action="/register" method="post" class="row g-3 " novalidate>
            <div class="row g-2 input-group">
                <div class="col-md">
                    <label for="firstName" class="form-label">First Name</label>
                    <input type="text"
                           class="form-control"
                           name="firstName"
                           id="firstName"
                           placeholder="First"
                           oninput="updateAssetName()"
                           required>
                </div>
                <div class="col-md">
                    <label for="lastName" class="form-label">Last Name</label>
                    <input type="text"
                           class="form-control"
                           name="lastName"
                           id="lastName"
                           placeholder="Last"
                           required>
                </div>
            </div>
            <div class="row g-2 input-group">
                <div class="col-md">
                    <label for="email" class="form-label">Email Address</label>
                    <input type="email"
                           class="form-control"
                           name="email"
                           id="email"
                           placeholder="Email"
                           required>
                </div>
                <div class="col-md">
                    <label for="assetName" class="form-label">Asset Name</label>
                    <input type="text"
                           class="form-control"
                           name="assetName"
                           id="assetName"
                           placeholder="Asset"
                           oninput="disableAutoUpdate(event)">
                </div>
            </div>
            <div class="row g-2 input-group">
                <div class="col-md">
                    <label for="phoneNumber" class="form-label">Phone Number</label>
                    <span class="input-group-test" id="basic-addon1">+1</span>
                    <input type="tel"
                           class="form-control"
                           name="phoneNumber"
                           id="phoneNumber"
                           placeholder="Phone #">
                </div>
                <div class="col-md">
                    <label for="imei" class="form-label">IMEI Number</label>
                    {% if imei %}
                        <input type="number"
                               class="form-control"
                               name="imei"
                               id="imei"
                               placeholder="IMEI #"
                               value="{{ imei }}"
                               required>
                    {% else %}
                        <input type="number"
                               class="form-control"
                               name="imei"
                               id="imei"
                               placeholder="IMEI #"
                               required>
                    {% endif %}
                </div>
            </div>
            <div id="optionalFields" class="d-none row input-group">
                <div class="col-md">
                    <label for="vin" class="form-label">
                        VIN Number <i>*Optional</i>
                    </label>
                    <input type="text"
                           class="form-control"
                           name="vin"
                           id="vin"
                           placeholder="VIN #">
                </div>
                <div class="col-md">
                    <label for="test" class="form-label">
                        Test Field <i>*Optional</i>
                    </label>
                    <input type="text"
                           class="form-control"
                           name="testField"
                           id="testField"
                           placeholder="Test">
                </div>
            </div>
            <div class="row g-2">
                <button type="button"
                        class="btn btn-secondary"
                        id="toggle"
                        onclick="toggleOptionalFields()">Show Options</button>
                <button type="submit" class="btn btn-primary" id="register">Register</button>
            </div>
        </form>
    </div>
    <script src="{{ url_for('static', filename='/main/main.js') }}"</script>
{% endblock %}
